

.table-striped {

}


body {
  background-image: url("pictures/LA-football-stadium-plan-gets-boost-9FE4O9S-x-large.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

}

h1 {
  color: white;
  outline: black;
}

#image {
  width:100%;
  height: 155px;
}