

.table-striped {

}


body {
  /*background-image: url("pictures/LA-football-stadium-plan-gets-boost-9FE4O9S-x-large.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

}

h1 {
  color: -red;
  outline: black;
  text-align: center;
  font-size: 60px

}

.startButton {
  text-align: center;
}

#image {
  width:100%;
  height: 155px;
}